
.title{
    size: 11px;
    color: aliceblue;
}

.header{
    color: rgba(218, 3, 3, 0.934);
    background-color: transparent;
    margin: 1px;
    padding: 12px;
}

.background{
    background-image: url(doc/img/paper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.gicon{
    background-image: url(doc/img/Postit-note.png);
    height: 31%;
    width: 31%;
}