/*index style*/

/*Body style*/

.background{
    background-image: url(doc/img/paper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}


#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.2;
  }

  .content {
    position: fixed;
    color: #f1f1f1;
    width: auto;
    height: auto;
  }
  

  
@font-face {
    font-family: sawFont;
    src: url(doc/font/SAWesome.ttf);
}
/*Headre*/
.header{
    height: 45%;
    width: 100%;

}

.title{
    align-items: center;
    color: rgba(146, 8, 8, 0.934);
    background-color: transparent;
    margin: 3px;
    padding: 45px;
    font-size: 500%;
    font-family: sawFont;
}

.titlemenu{
    color: rgba(146, 8, 8, 0.934);
    font-size: 50px;
    width: 100%;
    font-family: sawFont;
    place-items: center;
}

.saw{
    height: 70%;
    width: 70%;
}

/*Icon selection table*/

.gicon{
    align-items: center;
    height: 100%;
    width: 100%;
}

/* <a> link */
.submit{
    align-items: center;
    width: 100%;
}

/*<-- or -->*/

.container{
        height: 200px;
        width: 500px;
        margin-top: 30px;
        place-items: center;
    }
