/*Body style*/

.background{
    background-image: url(doc/img/paper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

@font-face {
    font-family: saw;
    src: url();
}
/*Headre*/
.header{
    height: 45%;
    width: 100%;

}

.title{
    align-items: center;
    color: rgba(218, 3, 3, 0.934);
    background-color: transparent;
    margin: 3px;
    padding: 45px;
    font-size: 500%;
    
}

.titlemenu{
    color: red;
    font-size: 50px;
    align: center;
    width: 100%;

}

.saw{
    height: 70%;
    width: 70%;
}

/*Icon selection table*/

.gicon{
    align-items: center;
    height: 90%;
    width: 90%;
}

/* <a> link */
.submit{
    align-items: center;
    width: 100%;
}
