/*Body style ...

---   Note1   --- */

.background{
    background-image: url(img_note1/paper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
/*Headre*/
.header{
    height: 45%;
    width: 100%;

}

.title{
    align-items: center;
    color: rgba(218, 3, 3, 0.934);
    background-color: transparent;
    margin: 3px;
    padding: 45px;
    font-size: 500%;
    
}

/*Icon selection table*/

.gicon{
    height: 300px;
    width: 300px;
}